*body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 5px;
}

.app {
  text-align: center;
}

input {
  padding: 2px;
  background-color: beige;
  margin: 5px;
}

button {
  background-color: aquamarine;
  padding: 2px;
  margin: 5px;
}

button:hover {
  background-color: aqua;
}
